<div id="player-stats-panel">
  <header><h2>Undefined</h2></header>

  <div class="team">
    <span class="title">Team:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="resources">
    <span class="title">Resources:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="power">
    <span class="title">Power:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="strength">
    <span class="title">Strength:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="speed">
    <span class="title">Speed:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="patience">
    <span class="title">Patience:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="luck">
    <span class="title">Luck:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="discount">
    <span class="title">Discount:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="job">
    <span class="title">Job:</span>
    <span class="value">Undefined</span>
  </div>

  <div class="playTime">
    <span class="title">Play Time:</span>
    <span class="value">Undefined</span>
  </div>
</div>
